<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-gasto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset='query-gasto.sql' sheetname='Registro de gastos' filename='gasto.xls'>
		<col id='fecha' label='Fecha' />
		<col id='descrip_pl0' label='Categoría' />
		<col id='monto' label='Monto' />
		<col id='motivo' label='Concepto' />
	</excel>

</config>