	<!--data grid-->
 	<div class="panel panel-info table-responsive">
 	
 		<div class="panel-heading">
            <div class="panel-title">
            	${req:controls} 
			</div>
		</div>
 	
 		<div class="panel-body">
			
			
			<!--data grid-->
			<table class="table table-hover table-striped">

				<col width="3%"/>
				<col width="3%"/>
				<col width='23%'/>
	<col width='23%'/>
	<col width='23%'/>
	<col width='23%'/>


				<!--encabezados-->
				<thead>
				<tr>
					<th colspan="2"></th>
					<th class='sortable' onclick='sortBy("fecha","query-gasto.sql")'>Fecha<span class="glyphicon glyphicon-triangle-top" id="sort_desc_fecha">
</span>
<span class="glyphicon glyphicon-triangle-bottom" id="sort_asc_fecha">
</span></th>
		<th class='sortable' onclick='sortBy("descrip_pl0","query-gasto.sql")'>Categoría<span class="glyphicon glyphicon-triangle-top" id="sort_desc_descrip_pl0">
</span>
<span class="glyphicon glyphicon-triangle-bottom" id="sort_asc_descrip_pl0">
</span></th>
		<th class='sortable' onclick='sortBy("monto","query-gasto.sql")'>Monto<span class="glyphicon glyphicon-triangle-top" id="sort_desc_monto">
</span>
<span class="glyphicon glyphicon-triangle-bottom" id="sort_asc_monto">
</span></th>
		<th class='sortable' onclick='sortBy("motivo","query-gasto.sql")'>Concepto<span class="glyphicon glyphicon-triangle-top" id="sort_desc_motivo">
</span>
<span class="glyphicon glyphicon-triangle-bottom" id="sort_asc_motivo">
</span></th>
	</tr>
				</thead>
				
				<!--data-->
				<tbody>
				<rows>
				<tr>
					<td>
						<span class="glyphicon glyphicon-trash" onclick="deleteRecord('${fld:gasto_id}')" title="Eliminar">
						</span>
					</td>
					<td>
						<span class="glyphicon glyphicon-edit" onclick="edit('${fld:gasto_id}')" title="Editar">
						</span>
					</td>
					<td>${fld:fecha@dd-MM-yyyy}</td>
		<td>${fld:descrip_pl0}</td>
		<td align='right'>${fld:monto@#,###,##0.00}</td>
		<td align='left'>${fld:motivo}</td>
	</tr>
				</rows>
				</tbody>

			</table>
		</div>
	</div>	