<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-gasto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>Registro de gastos</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-gasto.sql' width='100' spacingBefore='40'>
			<col name='fecha' title='Fecha' width='25' align='center' format='dd-MM-yyyy' />
			<col name='descrip_pl0' title='Categoría' width='25' align='center' />
			<col name='monto' title='Monto' width='25' align='right' format='#,###,##0.00' />
			<col name='motivo' title='Concepto' width='25' align='left' />
		</table>

	</pdf-report>
</config>