<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-imagebank.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>

	<pdf-title>Registro de Imagenes</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<table recordset='query-imagebank.sql' width='100' spacingBefore='40'>
			<col name='filename' title='Archivo' width='25' align='left' />
			<col name='content_type' title='Contenido' width='25' align='left' />
			<col name='description' title='Descripción' width='25' align='left' />
			<col name='image_size' title='Tamaño' width='25' align='center' format='######' />
		</table>

	</pdf-report>
</config>